# dependencies for 'silly_sum' example
pandas==0.22
Click==6.0

# dependencies for all other python scripts
h5py==2.6.0
logging==0.4.9.6
matplotlib==1.5.3
numpy==1.11.2
pysam==0.11.2.2
pytest==3.0.3
scipy==0.18.1
setuptools==28.7.1



